<html>

<head></head>

<body style="width: 99%;font-family: Segoe UI,Helvetica Neue,Arial,sans-serif;">
    
    <table style="width: 40%; border-collapse: collapse; float: left; min-height: 310px;" border="1" cellpadding="10px">

        <tr>
            <td style="border-right-color: transparent; border-bottom: 0px; padding-bottom: 2px;">GSTIN : 37AAPPR5458Q1ZH</td>
            <td style="border-bottom: 0px; padding-bottom: 2px;">Cell : 9177056061</td>
        </tr>
        <tr>
            <td colspan="2" style="border: 0px; padding: 0px 10px 5px 0px; text-align: right;">(10 am to 1:30pm & 3.30pm to 5:30pm)</td>
        </tr>
        <tr>
            <td colspan="2" style="border-top: 0px; font-size: 27px; text-align: center; border-bottom: 0px; padding-bottom: 2px;"><i><b>SRI RAJA BAGS INDUSTRY</b></i></td>
        </tr>
        <tr>
            <td colspan="2" style="border-top: 0px; padding-top: 0px; text-align: center;">Dorapalli Road, DHONE-518 222, Kurnool(Dt.), A.P.</td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom: 0px;">Customer WhatsApp No :</td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom: 0px;border-top: 0px;">Email :</td>
        </tr>
        <tr>
            <td colspan="2" style="border-top: 0px;border-bottom: 0px;">Transport :</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;border-top: 0px;"><b>New / Old Customer</b></td>
        </tr>
    
    </table>
    <table style="width: 60%; border-collapse: collapse; float: right; min-height: 310px;" border="1" cellpadding="10px">

        <tr>
            <td style="border-right-color: transparent;"><span style="border: 1px solid #000; border-radius: 50%; padding: 5px 10px; font-weight: 700;">ORDER FORM</span><br><br>(CUSTOMER COPY)</td>
            <td style="border-right-color: transparent;">Sr.No : <b>502</b> </td>
            <td>Date :</td>
        </tr>
        <tr>
            <td colspan="2" style="border-right-color: transparent;">Customer Name : </td>
            <td>Mobile : </td>
        </tr>
        <tr>
            <td colspan="3">Shop Name :</td>
        </tr>
        <tr>
            <td colspan="3">GST or Aadhar No :</td>
        </tr>
        <tr>
            <td colspan="3">Main Address :</td>
        </tr>
        <tr>
            <td colspan="3">Shipping Address :</td>
        </tr>
    
    </table>

    <!-- //End Here -->

    <div style="clear: both;"><br></div>

    <p>1) Printed design appearance & Color will vary between Photo & Printed Bag</p>
    <p>2) Customer is responsible for Transport & Transport related things</p>
    <p>3) Your Order & Design will be confirmed through Whatsapp/Phone, After Order Confirmation no changes in the order & design can be done (or) cancelled</p>
    <p>4) Miss Print 3 to 5% for each size</p>
    <p>5) Order Delivery approximately 1 month</p>
    <p>6) Company Name : SRI RAJA BAGS INDUSTRY, Andhra Bank A/c. No. 011113046001324, IFSC Code No. ANDB0000111, Cheques Not Accepted. RTGS (or) On Line Transfer.
    </p>
    <p>7) Block Charges are Compulsory for Each Design</p>
    
    <br>

    <!-- Start here-->

    <table style="width: 100%; border-collapse: collapse;" border="1" cellpadding="10px">
        <thead>
            <tr>
                <th rowspan="2">Material</th>
                <th rowspan="2">Bag Model</th>
                <th rowspan="2">Bag Size</th>
                <th rowspan="2">Bag GSM / Microns</th>
                <th rowspan="2">Bag Colour</th>
                <th rowspan="2">Qty.</th>
                <th rowspan="2">Rate</th>
                <th rowspan="2">Printing</th>
                <th rowspan="2">Printing Colour</th>
                <th colspan="4">Side Patti</th>
                <th rowspan="2">Zip(Z) Stick(S) Plastic Handle(PH)</th>
                <th rowspan="2">Handle Colour</th>
                <th rowspan="2">Language Telugu(T) English(E) Kannada(K)</th>
                <th rowspan="2">Block/Sterio Charges</th>
            </tr>
            <tr>
                <th>GSM</th>
                <th>Color</th>
                <th>Inches</th>
                <th>Printing Y/N</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 50px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 50px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 50px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 50px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="border-right-color: #fff;"><b>Design:-</b></td>
                <td colspan="4" style="border-right-color: #fff;">Two Side Same<br>Two Side Different</td>
                <td colspan="4" style="border-right-color: #fff;">T - F / H</td>
                <td colspan="5" style="border-right-color: #fff;"><b>Approximate Order Value :</b></td>
                <td colspan="3" style="border-right-color: #fff;"><b>Advance :</b></td>
            </tr>
        </tfoot>
    </table>

    <!-- //End here  -->

    <br><br>
    
    <table style="width: 100%">

        <tr>
            <td style="width: 60%;">

                <!-- Patient Info Start here -->

                <table style="width: 100%; border-collapse: collapse;" border="1" cellpadding="10px">
                    <tr>
                        <td><b>Comments :</b></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>

                <!-- Patient Info End here -->
            </td>

            <td style="width: 10%">&nbsp;</td>

            <td style="width: 30%;">

                <!-- Vitals Start here -->

                <table style="width: 100%; border-collapse: collapse;" border="0" cellpadding="5px;">
                    <tr>
                        <td>Customer Signature :</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Representative Signature :</td>
                    </tr>
                </table>
                <!-- Vitals End here -->
            </td>
        </tr>
    </table>

</body>

</html>