@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Home
2. Shop
	2.1 Shop Products
	2.2 Shop Page Navigation
3. Shop Sidebar
4. Recently Viewed


******************************/


.cat_menu_container ul
{
	visibility: hidden;
	opacity: 0;
}

/*********************************
1. Home
*********************************/

.home
{
	width: 100%;
	height: 260px;
	background: transparent;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #cde4f1;
	background: linear-gradient(#FFFFFF, #cde4f1);
	opacity: 0.75;
}
.home_content
{
	width: 100%;
	height: 100%;
}

/*********************************
2. Shop
*********************************/

.section-title {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #DADADA;
}

.section-title .title {
    display: inline-block;
    text-transform: uppercase;
}

.section-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 60px;
    background-color: #0e8ce4;
}

.shiping-methods {
  margin-bottom: 30px;
}

/*-- shopping cart table --*/

tbody>tr>td, 
tbody>tr>th, 
tfoot>tr>td, 
tfoot>tr>th {
  padding: 15px 0px;
  vertical-align: middle;
  border-top: 1px solid #DADADA;
}

thead>tr>td, 
thead>tr>th {
  padding: 15px 0px;
  vertical-align: middle;
  border-top: 0px solid #DADADA;
}

.table th {
    border-top: 0px solid #DADADA;
}

thead>tr>th {
  color: #30323A;
  text-transform: uppercase;
  border-bottom: 1px solid #DADADA;
}

tbody>tr:last-child>td {
  border-bottom: 1px solid #DADADA;
}

tbody>tr>td:last-child {
  font-size: initial;
}

tfoot>tr>td, tfoot>tr>th {
  color: #30323A;
  border-top: 0px;
}

tfoot>tr>td:not(.empty), tfoot>tr>th:not(.empty) {
  padding: 15px;
  background-color: #F6F7F8;
  border: 1px solid #DADADA;
}

tbody>tr>.details>a {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.thumb{
    text-align: center;
}

.thumb>img {
  width: 60px;
}

.shopping-cart-table>tbody>tr>.qty .input {
  width: 90px;
}

.shopping-cart-table>tbody>tr>.price {
  font-size: 18px;
}

.shopping-cart-table>tbody>tr>.total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.sub-total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.total {
  font-size: 24px;
  color: #4caf50;
}

.icon-btn.main-btn, .icon-btn.primary-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
    border: none;
    cursor: pointer;
}

.main-btn {
    color: #30323A;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.qty{
    width: 13%;
}

.qty span{
    font-size: 20px;
    color: #000;
}

.qty .input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.main-btn:hover, .main-btn:focus {
    color: #F8694A;
    -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
    box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
}

.primary-btn {
    color: #FFF;
    background-color: #4caf50;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    cursor: pointer;
}

.primary-btn:hover, .primary-btn:focus {
    color: #FFF;
    background-color: #30323A;
}


/* Billing Address */

.input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    color: #000;
    font-size: 14px;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    border-radius: 0px;
}

.input:focus {
    -webkit-box-shadow: 0px 0px 0px 1px #16225a inset, 0px 0px 0px 0px #16225a;
    box-shadow: 0px 0px 0px 1px #16225a inset, 0px 0px 0px 0px #16225a;
    outline: 0px;
}

select.input{
    height: 40px !important;
}

textarea.input {
  padding: 15px;
}

.input-checkbox .caption {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s max-height;
  transition: 0.3s max-height;
}

.input-checkbox>label {
  color: #30323A;
}

.input-checkbox input[type="checkbox"]:checked+label+.caption, 
.input-checkbox input[type="radio"]:checked+label+.caption {
  max-height: 800px;
}

.caret{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.caret:before{
    content: "\f0d7";
    font: normal normal normal 14px/1 FontAwesome;
}