body{
    font-size: 15px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #b3e0b4;
}
/* notifications  */
.bg-succ {
    background: #449d44 !important;
}

.bg-del {
    background: #d9534f !important;
}

.bg-warn {
    background: #f0ad4e !important;
}

.ico_bac {
    background: #fff;
    border-radius: 50%;
    padding: 8px;
}

.alert_msg1 {
    position: fixed;
    bottom: 80px;
    color: #fff;
    padding: 10px;
    left: 50%;
    z-index: 1200;
    -nimation: signup-response 0.5s 1;
    -webkit-animation: signup-response 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 5s;
    -webkit-animation-delay: 5s;/ Safari and Chrome / -webkit-animation-fill-mode: forwards;
    webkit-box-shadow: -2px 6px 39px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 39px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 39px -8px rgba(0, 0, 0, 0.75);
}

@keyframes signup-response {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes signup-response {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

@charset "UTF-8";

.stepper .nav-tabs {
    position: relative;
}

.stepper .nav-tabs > li {
    width: 25%;
    position: relative;
}

.stepper .nav-tabs > li.fivetabs {
    width: 20%;
}

.stepper .nav-tabs > li:after {
    content: '';
    position: absolute;
    background: #e8e8e8;
    display: block;
    width: 100%;
    height: 3px;
    top: 32px;
    left: 50%;
    z-index: 1;
}

.stepper .nav-tabs > li.completed::after {
    background: #34bc9b;
}

.stepper .nav-tabs > li:last-child::after {
    background: transparent;
}

.stepper .nav-tabs > li.active:last-child .round-tab {
    background: #34bc9b;
}

.stepper .nav-tabs > li.active:last-child .round-tab::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
}

.stepper .nav-tabs [data-toggle='tab'] {
    width: 25px;
    height: 25px;
    margin: 20px auto;
    border-radius: 100%;
    border: none;
    padding: 0;
    color: #f1f1f1;
}

.stepper .nav-tabs [data-toggle='tab']:hover {
    background: transparent;
    border: none;
}

.stepper .nav-tabs > .active > [data-toggle='tab'],
.stepper .nav-tabs > .active > [data-toggle='tab']:hover,
.stepper .nav-tabs > .active > [data-toggle='tab']:focus {
    color: #34bc9b;
    cursor: default;
    border: none;
}

.stepper .tab-pane {
    position: relative;
    padding-top: 20px;
}

.stepper .round-tab {
    width: 25px;
    height: 25px;
    line-height: 22px;
    display: inline-block;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #34bc9b;
    color: #34bc9b;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 14px;
}

.stepper .completed .round-tab {
    background: #34bc9b;
}

.stepper .completed .round-tab::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
}

.stepper .active .round-tab {
    background: #fff;
    border: 2px solid #34bc9b;
}

.stepper .active .round-tab:hover {
    background: #fff;
    border: 2px solid #34bc9b;
}

.stepper .active .round-tab::after {
    display: none;
}

.stepper .disabled .round-tab {
    background: #fff;
    color: #777777;
    border-color: #7777;
}

.stepper .disabled .round-tab:hover {
    color: #4dd3b6;
    border: 2px solid #a6dfd3;
}

.stepper .disabled .round-tab::after {
    display: none;
}