@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.product_description
	{
		padding-left: 30px;
	}
	.image_list li
	{
		height: 130px;
	}
	.image_selected
	{
		height: 420px;
	}
	.product_quantity,
	.product_color
	{
		width: 162px;
	}
	.product_price
	{
		margin-top: 60px;
	}
	.button_container
	{
		margin-top: 38px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.product_description
	{
		padding-left: 0px;
	}
	.image_selected
	{
		width: 100%;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.image_list
	{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding-top: 15px;
	}
	.image_list li
	{
		width: calc(33.33333333% - 10px);
		height: 220px;
		margin-bottom: 0px;
	}
	.image_list li:not(:last-child)
	{
		margin-right: 15px;
	}
	.product_description
	{
		padding-top: 80px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.image_list li
	{
		height: 160px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.button
	{
		height: 32px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 32px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.rating_r i::before
	{
		font-size: 14px;
	}
	.single_product
	{
		padding-top: 80px;
	}
	.image_selected
	{
		height: calc(100vw - 30px);
	}
	.image_list li
	{
		height: calc((100vw - 30px) / 3 - 15px);
	}
	.product_name
	{
		font-size: 24px;
	}
	.product_quantity
	{
		float: none;
	}
	.product_color
	{
		float: none;
		margin-top: 15px;
	}
	.cart_button
	{
		font-size: 13px;
		line-height: 32px;
		padding-left: 25px;
		padding-right: 25px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.product_item
	{
		width: 50%;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}